.Search-Bar-Button {
    border-radius: 25px;
    margin-left: 0.5rem;
  }

  .Restaurant-Search-Container {
  
}

.Restaurant-Search-Page{
}  

  .Restaurant-Search-Bar {
    min-width: 60%;
  }

  .Restaurant-Search-Main {
      min-width: 70%;
      min-height: 60%;
  }
  